<head>


<style type="text/css">
body
{
    background-image: url("resources/images/secure.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}
</style> </head>
	<div class="container">
	<div id="login-box">
		<div class="logo">
			<img src="resources/images/lock.png" class="img img-responsive img-circle center-block" height="50px" width="60px"/>
			<h1 class="logo-caption"><span class="tweak">R</span>egister</h1>
		</div><!-- /.logo -->
		<div class="controls">
			<input type="text" name="username" placeholder="Username" class="form-control" />
			<input type="text" name="loginname" placeholder="Full Name" class="form-control" />
			<input type="email" name="emailId" placeholder="Email ID" class="form-control" />
			<input type="password" name="password" placeholder="Password" class="form-control" />
			<input type="text" name="mobileNo" placeholder="Mobile Number" class="form-control" />
			<input type="text" name="address" placeholder="Address" class="form-control" />
			<button type="button" class="btn btn-default btn-block btn-custom">Register</button>
		</div><!-- /.controls -->
	</div><!-- /#login-box -->
</div><!-- /.container -->
<div id="particles-js"></div>