
<div class="container" data-ng-controller="JobController">
	<table class="table">
		<tr>
			<td>Job Id</td>
			<td>Company Name</td>
			<td>Designation</td>
			<td>Salary</td>
			<td>Location</td>
			<td>Description</td>
			<td>Last Date to Apply</td>
			<td>Status</td>
		</tr>
		<tr data-ng-repeat="job in alljobdata">
		    <td>{{job.jobId}}</td>
			<td>{{job.company}}</td>
			<td>{{job.jobDesignation}}</td>
			<td>{{job.salary}}</td>
			<td>{{job.location}}</td>
			<td>{{job.jobDescription}}</td>
			<td>{{job.createdDate}}</td>
			<td>{{job.status}}</td>
			
			<td><input data-ng-show="currentUser.role=='ROLE_USER'" type="button" data-ng-click="applyJob(job.jobId)" value="Apply" class="btn btn-info"/>
		<td><input data-ng-show="currentUser.role=='ROLE_ADMIN'" type="button" data-ng-click="deleteJob(job.jobId)" value="Delete" class="btn btn-danger"/> 
		</tr>


	</table>
</div>
