<!-- <head>


<style type="text/css">
body {
	background-image: url("resources/images/secure.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
</style>
</head> -->

<div class="container">
	<div id="login-box">
		<div class="logo">
			<!-- <img src="resources/images/lock.png"
				class="img img-responsive img-circle center-block" height="50px"
				width="60px" /> -->
			<h1 class="logo-caption">
				<span class="tweak">B</span>log
			</h1>
		</div>
		<!-- /.logo -->
		<div class="controls">
			<form data-ng-submit="addBlog()">
		<h1 class="logo" class="logo-caption">
				<span class="tweak">Blog Name</span>
			</h1>
				<input type="text" name="blogName" data-ng-model="blog.blogName"
					placeholder="Enter User Name Here" class="form-control" /> 
					
					<div class ="row">
					<div class="col-sn-12 form-group">
				<h1 class="logo" class="logo-caption">
				<span class="tweak">Blog Content</span>
			</h1>
			
					<input type="text" name="blogContent" data-ng-model="blog.blogContent"/>
					</div>
					
					
					 <!-- <input
					type="text" name="blogContent" data-ng-model="blog.blogContent"
					placeholder="Enter your blog content" class="form-control" /> -->
				<!-- 			<button type="button" class="btn btn-default btn-block btn-custom">Login</button>
 -->
				<center><input type="submit" class="btn btn-default btn-block btn-custom"
				value="ADD Blog" /></center>

			</form>
		</div>
		<!-- /.controls -->
	</div>
	<!-- /#login-box -->
</div>
<!-- /.container -->
<div id="particles-js"></div>