<head>


<style type="text/css">
body {
	background-image: url("resources/images/secure.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
</style>
</head>

<div class="container" data-ng-controller="UserController">
	<div id="login-box">
		<div class="logo">
			<img src="resources/images/lock.png"
				class="img img-responsive img-circle center-block" height="50px"
				width="60px" />
			<h1 class="logo-caption">
				<span class="tweak">L</span>ogin
			</h1>
		</div>
		<!-- /.logo -->
		<div class="controls">
			<form data-ng-submit="login()">
				<input type="text" name="username" data-ng-model="user.userName"
					placeholder="Username" class="form-control" /> <input
					type="password" name="password" data-ng-model="user.password"
					placeholder="Password" class="form-control" />
				<!-- 			<button type="button" class="btn btn-default btn-block btn-custom">Login</button>
 -->
				<input type="submit" class="btn btn-default btn-block btn-custom"
					value="login" />

			</form>
		</div>
		<!-- /.controls -->
	</div>
	<!-- /#login-box -->
</div>
<!-- /.container -->
<div id="particles-js"></div>